

.dropdown__value {
    padding: 8px 8px 8px 16px;
    cursor: pointer;
    // border: 1px solid red;
    
}
.dropdown__list {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    border-radius: 6px;
    background-image: linear-gradient(130deg, #2d2f33, #272a2e 50%, #222529 99%);
}
.dropdown {
    background-color: rgba(224, 224, 255, 0.02);
    position: relative;
    border-radius: 6px;
    // width: 194px;
    color: #ffffff;
    // border: 1px solid yellow;

    &:after {
        display: block;
        content: "";
        position: absolute;
        top: 12px;
        right: 14px;
        width: 8px;
        height: 8px;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transform: rotate(45deg);
        pointer-events: none;
        z-index: 20;
    }
    
    &--open {
        &:after {
            top: 16px;
            transform: rotate(-135deg);
        }
        .dropdown__list {
            display: block;
        }
    }
}
.dropdown__list-item {
    padding: 8px 8px 8px 16px;
    // border: 1px solid green;
    cursor: pointer;
    &:hover {
        background-color: rgba(224, 224, 255, 0.02);
    }
    
}