.offer {
    display: flex;
    // flex-direction: column;
    align-items: center;
}
.offer__img {
    flex: 1 1 50%;
}
.offer__text {
    flex: 1 1 50%;
    padding-left: 100px;
    
}
.offer-text__title {
    padding-bottom: 48px;
    max-width: 420px;
}

.countdown__numbers {
    display: flex;
}
.countdown__number-item {
    margin-right: 8px;
}
.countdown__value {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 1.33;
    text-align: center;
    letter-spacing: -1px;
    color: $text-primary-color;

    background: linear-gradient(135deg, rgba(245, 247, 250, 0.12) 0%, rgba(245, 247, 250, 0.06) 52.14%, rgba(245, 247, 250, 0.0001) 100%);
    border: 1px solid rgba(245, 247, 250, 0.06);
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(9, 13, 20, 0.4), -4px -4px 8px rgba(224, 224, 255, 0.04), 8px 8px 24px rgba(9, 13, 20, 0.4);
    border-radius: 12px;
}
.countdown__key {
    padding-top: 8px;
    text-align: center;
}

.offer-text__buttons {
    padding-top: 32px;
}