.functional {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__title {
        text-align: center;
    }
}
.functional__list-button-item {
    display: inline-block;
    &:nth-child(1) {
        @media screen and (max-width: 768px) {
            flex: 1 0 50%;
            display: flex;
            justify-content: flex-end;
        }
    }
    &:nth-child(2) {
        @media screen and (max-width: 768px) {
            flex: 1 0 50%;
            display: flex;
            justify-content: flex-start;
        }
    }
    &:nth-child(3) {
        @media screen and (max-width: 768px) {
            flex: 1 0 33%;
            display: flex;
            justify-content: flex-end;
        }
    }
    &:nth-child(4) {
        @media screen and (max-width: 768px) {
            flex: 0 1;
        }
    }
    &:nth-child(5) {
        @media screen and (max-width: 768px) {
            flex: 1 0 33%;
            display: flex;
            justify-content: flex-start;
        }
    }
}

.functional__list-buttons {
    padding-top: 40px;
    padding-bottom: 25px;

    @media screen and (max-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
    @media screen and (max-width: 330px) {
        margin: 0 -10px;
    }
    button {
        margin-left: 8px;
        margin-right: 8px;

        @media screen and (max-width: 840px) {
            margin-top: 8px;
            margin-bottom: 8px;
            margin-left: 5px;
            margin-right: 5px
        }
        @media screen and (max-width: 768px) {
            margin-left: 8px;
            margin-right: 8px;
        }
        @media screen and (max-width: 480px) {
            margin-left: 5px;
            margin-right: 5px;
            padding: 5px 12px;
        }
        @media screen and (max-width: 430px) {
            margin-top: 5px;
            margin-bottom: 5px;
            padding: 5px 8px;
        }
    }
}
.functional__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @media screen and (max-width: 768px) {
        flex-direction: column-reverse;
    }
}
.functional-text {
    max-width: 530px;
    @media screen and (max-width: 768px) {
        text-align: center;
    }
}
.functional-text__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -1px;
    color: $text-primary-color;
    @media screen and (max-width: 1200px) {
        font-size: 24px;
    }
    @media screen and (max-width: 768px) {
        font-size: 20px;
    }
}

.functional-text__desc {
    padding-top: 16px;
}

.functional-text__container {
    display: flex;
}

.functional-text__item {
    flex: 1 0 100%;
    opacity: 0;
    transition: opacity .4s ease;
    width: 0;
    &--active {
        opacity: 1;
        width: 100%;
    }
}

.functional-text__buttons {
    padding-top: 32px;
}

.functional__img-container {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
}
.functional__img {
    width: 100%;
    img {
        width: 100%;

    }
}

.link {
    color: $button-primary-color;
    text-decoration: none;
    &:hover, &:active, &:visited {
        color: $button-primary-color;
        text-decoration: none;
    }
}
