@import "vars.scss";

.header {
    padding: 20px 0px;
    background-color: $primary-base-color;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    cursor: pointer;
    color: $text-primary-color;
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    padding-top: 0;
    font-weight: bold;
    font-size: 24px;
    margin-right: 50px;
    line-height: 1;
    letter-spacing: -1px;
    @media screen and (max-width: 576px) {
        font-size: 20px;
        margin-right: 0px;
    }
    @media screen and (max-width: 380px) {
        font-size: 16px;
    }
}

.header__menu {
    
    flex: 1;

    @media screen and (max-width: 768px) {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        // background: $secondary-base-opacity-color;
        background: linear-gradient(135deg, #2D2F33 0%, #272A2E 49.6%, #222529 98.81%);
        z-index: 100;
        justify-content: center;
        align-items: center;
        // display: flex;
        display: none;
    }
}
.header__menu-icon {
    display: none;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 10;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    cursor: pointer;
    &:after {
        position: absolute;
        display: block;
        content: "";
        top: calc(50% - 1px);
        left: 0;
        right: 0;
        height: 2px;
        background-color: #fff;
        pointer-events: none;
    }
    @media screen and (max-width: 768px) {
        display: block;
    }
}


.header-menu {
    display: flex;
    justify-content: space-between;
    
    @media screen and (max-width: 768px) {
        flex-direction: column;
        min-width: 280px;
    }
}

.header__list {
    display: flex;
    align-items: center;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.header__list-item {
    font-weight: 500;
    line-height: 1.75;
    cursor: pointer;
    padding-top: 5px;
    color: $text-primary-color;
    text-decoration: none;
    margin-right: 35px;

    @media screen and (max-width: 992px) {
        margin-right: 15px;
    }
    @media screen and (max-width: 768px) {
        padding-top: 12px;
        margin-right: 0;
        font-size: 24px;
    }
}

.header__buttons {
    .button {
        margin-left: 24px;

        @media screen and (max-width: 992px) {
            margin-left: 12px;
        }
        @media screen and (max-width: 768px) {
            margin-left: 0;
            margin-top: 20px;
            font-size: 20px;
        }
    }

    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
    }
}