@import "vars.scss";

.header {
    padding: 20px 0px;
    background-color: $primary-base-color;
}

.header__container {
    display: flex;
    justify-content: space-between;
}
.header__list {
    display: flex;
    
    align-items: center;
}

.header__list-item {
    font-weight: 500;
    line-height: 1.75;
    cursor: pointer;
    padding-top: 5px;
    color: $text-primary-color;
    text-decoration: none;
}

.header__list-item--secondary {
    margin-right: 35px;
    @media screen and (max-width: 992px) {
        margin-right: 15px;
    }
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.header__list-item--main {
    font-family: 'Exo 2', sans-serif;
    padding-top: 0;
    font-weight: bold;
    font-size: 24px;
    margin-right: 50px;
    line-height: 1;
    letter-spacing: -1px;
    @media screen and (max-width: 576px) {
        font-size: 20px;
        margin-right: 0px;
    }
    @media screen and (max-width: 380px) {
        font-size: 16px;
    }
}
.header__buttons {
    .button {
        margin-left: 24px;
        @media screen and (max-width: 992px) {
            margin-left: 12px;
        }
        // @media screen and (max-width: 380px) {
        //     font-size: 12px;
        //     margin-left: 6px;
        // }
    }
}