.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about__title {
    color: $text-primary-color;
    font-weight: bold;
    font-size: 36px;
    line-height: 1;
    letter-spacing: -1px;
    padding-bottom: 48px;
}
.about__content {
    display: flex;
    justify-content: space-between;
}
.about__images {
    flex: 1 1 50%;
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 432px;
}

.about-images {
    position: relative;
    height: 100%;
    width: 100%;
    // border: 1px solid green;
    &__item {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 55%;
        transition: opacity .4s ease;
        transform: translate(-50%, 0);

        img {
            object-fit: contain;
            height: 100%;
        }
    }
}

.about-images__pagination {
    position: absolute;
    bottom: -6%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;

    &-item {
        width: 8px;
        height: 8px;
        border-radius: 4px;
        margin: 0 4px;
        background-color: rgba(224, 224, 255, 0.06);
        
        &--active {
            background-color: $button-primary-color;

        }
    }
}

.hidden {
    opacity: 0;
}

.about__text {
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    padding-left: 10%;
}
.about-text {
    min-width: 452px;
    background: linear-gradient(135deg, #2D2F33 0%, #282A2E 51.37%, #212429 99.14%);
    box-shadow: 0px 1px 1px rgba(9, 13, 20, 0.4), -4px -4px 8px rgba(224, 224, 255, 0.04), 8px 8px 24px rgba(9, 13, 20, 0.4);
    border-radius: 4px;

    
}
.about-text-item {
    border-radius: 4px;
    padding: 16px;
    transition: background-color .4s ease;
    background-color: rgba(49,51,55,0); 
    cursor: pointer;

    &--active {
        background-color: rgba(49,51,55,.5); 
    }
}

.about-text-item__title{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.4px;
    color: $text-primary-color;
}
.about-text-item__desc {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    padding-top: 12px;
    color: $text-secondary-color;
    // opacity: 0.6;
}