@import "vars.scss";

.header {
    padding: 20px 0px;
    background-color: $primary-base-color;
}

.header__container {
    display: flex;
    justify-content: space-between;
}
.header__list {
    display: flex;
    
    align-items: center;
}

.header__list-item {
    margin-right: 35px;
    font-weight: 500;
    line-height: 1.75;
    cursor: pointer;
    padding-top: 5px;
    color: $text-primary-color;
    text-decoration: none;
}

.header__list-item--main {
    font-family: 'Exo 2', sans-serif;
    padding-top: 0;
    font-weight: bold;
    font-size: 24px;
    margin-right: 50px;
    line-height: 1;
    letter-spacing: -1px;
}
.header__buttons {
    .button {
        margin-left: 24px;
    }
}