$main-font: 'Montserrat', sans-serif;

$primary-base-color: #282A2E;;
$secondary-base-color: #212429;
$text-primary-color: #ffffff;
$text-secondary-color: rgba(224, 224, 255, 0.6);
$button-primary-color: #4579F5;
$button-primary-color-hover: #5081f6;
$button-secondary-color: #2E3035;
$button-secondary-color-hover: #5081f6;